%header
  .header-contents
    .header-contents__user-btn
      = icon('fas', 'user')
      ユーザー名
    .header-contents__side
      .header-contents__side--btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      .header-contents__side--btn
        = icon('fas', 'pen')
        投稿する