%header
  .header-contents
    .header-contents__home-btn
      =icon('fas', 'home')
      HOME
    .header-contents__side
      .header-contents__side--user-btn
        = icon('fas', 'user')
        ユーザー名
      .header-contents__side--post-btn
        = icon('fas', 'pen')
        投稿する