* {
  box-sizing: border-box;
}

$accent: #000066;
$dark: #666;

html, head, body {
  height: 100%;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #D8D8D8;
  
  .header-contents {
    @include center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
      &--btn {
        padding-left: 2px;
        padding-right: 10px;
        a:visited { color: $dark; text-decoration:none }
        a:hover { color: $dark; text-decoration:none }
        a:active { color: $dark; text-decoration:none }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      &--btn {
        margin-left: 10px;
        padding: 8px 15px;
        font-size: 14px;
        border: 2px solid $accent;
        a:visited { color: $accent; text-decoration:none }
        a:hover { color: $accent; text-decoration:none }
        a:active { color: $accent; text-decoration:none }
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
      }
    }
  }
}
.wrapper {
  width: 100%;
  height: calc(100% - 60px);
  background-color: #f5f5f3;
  overflow: scroll;
}

.search-form {
  @include center;
  padding: 10px;
  margin-top: 30px;
  &__text-box {
    margin-left: 20px;
    margin-right: 20px;
    width: 430px;
    height: 46px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-family: "游ゴシック"
  }
  &__submit-btn {
    margin-right: 20px;
    width: 140px;
    height: 47px;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
  }
}
.index {
  margin-top: 30px;
}
.contents {
  @include center;
  position: relative;
  &__product-name {
    position: absolute;
    margin: 10px;
    padding: 5px;
    font-size: 1.8rem;
    color: rgb(49, 48, 48);
    background-color:rgba(226, 255, 253, 0.7);
  }
  &__appeal {
    background-color:rgba(226, 255, 253, 0.7);
    padding-left: 20px;
    font-size: 2.2rem;
    position: absolute;
    bottom: 18px;
  }
  &__contributor {
    height: 15px;
    margin-right: 5px;
    text-align: right;
    color: $dark;
  }
}

.title {
  @include center;
  height: 60px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__product-name {
    font-size: 1.6rem;
    padding-left: 10px;
    color: $dark;
  }
  &__contributor {
    padding-right: 10px;
    font-size: 1rem;
    color: $dark;
  }
}

.show-contents {
  &__images {
    &--main {
      border: 1px solid $dark;
    }
    &--sub {
      display: flex;
      border: 1px solid $dark;

    }
  }
  &__point {
    background-color: #FFFFFF;
    color: #444;
    padding-top: 10px;
  }
  &__result {
    background-color: #FFFFFF;
    color: #444;
    padding-top: 10px;
  }
  &__appeal {
    background-color: #FFD5EC;
    font-size: 2.2rem;
    color: $dark;
    text-align: center;
    border: 1px solid $dark;
  }
}

.comments {
  @include center;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  background-color: white;
  box-sizing: border-box;
  &__like {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
    &--btn {
      display: block;
      width: 150px;
      height: 30px;
      border-radius: 10px;
      background-color: $accent;
      color: #FFFFFF;
    }
    &--count {
      padding-left: 10px;
      font-size: 1.1rem;
    }
  }
  &__form {
    &--textbox {
      width: 600px;
      height: 70px;
    }
    &--btn {
      width: 600px;
      border-radius: 20px;
      background-color: $accent;
      color: #FFFFFF;
      height: 40px;
      font-size: 1.2rem;
    }
  }
  &__comment {
    padding-top: 15px;
    display: flex;
  }
}

.post-form {
  @include center;
}